/*-----BOX-SIZING FIX------*/

/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*-----GLOBAL RESETS------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */
/* Start of Custom Styles */


/*-----GENERAL-------*/

html {
	-webkit-font-smoothing: antialiased;/*---this makes the fonts cleaner in Safari---*/
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 0.03em;
}

hr {
	color: lightgrey; /*--this is for IE---*/
	background-color: lightgrey;
	border: 0;
	height: 1px;

}

/*-----NAVIGATION-------*/

.top-navigation {
	background-color: white;
	border-bottom: 1px solid grey;
	position: fixed;/*--this + width 100% + z-index is to make the nav stick to the top when things scroll!---*/
	width: 100%;
	z-index: 9999;

}

.content {
	width:930px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;

}

.logo {
	margin-top: 15px;
}

.top-navigation .links {
	float: right;
	margin-top: 30px;
}

.top-navigation .links > li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links > li > a {
	text-decoration: none;
	color: #838994;
}

.top-navigation .links > li > a:hover {
	text-decoration: none;
	color: #333333;
	cursor: pointer;
}
.top-navigation .links .active {
	font-weight: 500;
	color: #4c5058;
}


/*-----HEADER-------*/

.hero {
	background-color: #f15a29;
	height: 45.938rem;
	background-image: url(../images/first-background.jpg);
	background-size: cover;
	background-position: center bottom;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
	overflow: auto;/*---this is to prevent this div from being pushed down due to margin-top on the child h1 element---*/
}

h1 {
	font-size: 3em;
	font-weight: 300;
	margin-top: 4em;
}



h2 {
	font-size: 2.7em;
	font-weight: 300;
	margin-top: 4em;
}

.icons .content > h2 {
	margin-top: 3em;
}


h3 {
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 1em;
}

.thumbs h3 {
	font-weight: 400;
}

.big-button {
	padding: 15px 30px;
	background-color: #f15a29;
	border-color: #f15a29;
	margin-top: 25px;
	color: white;
	font-size: 1.1em;
	border-radius: 5px;
	border-style: none;
}

.big-button:hover {
	background-color: #d9400e;
	cursor: pointer;
}


/*-----ICONS-------*/

.icons {
	height: 25rem;
	text-align: center;
	margin-bottom: 0;
}

.thumbs {
	margin: 3em 0;
	height: 15rem;
}

.icon-box {
	display:inline-block;
	width: 11rem;
	margin: 0 25px;
	vertical-align: top;

}


/*-----FOOTER-------*/

footer {
	padding-bottom: 10em;
}

.content > p {
	padding-top: 1em;
}

.social {
	padding: 30px 0 10px 0;
}

.circle {
	border: 1px lightgrey solid;
	border-radius: 50%;
	display: inline;
	margin: 0 4px;
	padding: 10px 15px;
}

.copyright {
	font-weight: 300;
	font-size: 0.9rem;
	color: #838994;
}





