/*-----BOX-SIZING FIX------*/

/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*-----GLOBAL RESETS------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */
/* Start of Custom Styles */


/*-----GENERAL-------*/

html {
	-webkit-font-smoothing: antialiased;/*---this makes the fonts cleaner in Safari---*/
}

body {
	background-color: lightgrey;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 0.03em;
}


/*-----HEADER-------*/

.hero {
	background-color: deeppink;
	height: 45.938rem;
	background-image: url(../images/first-background.jpg);
	background-size: cover;
	background-position: center bottom;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
	overflow: auto;/*---this is to prevent this div from being pushed down due to margin-top on the child h1 element---*/
}

.hero .content > h1 {
	font-size: 3em;
	font-weight: 300;
	margin-top: 4em;
}
.hero .content > h3 {
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 1em;
}

.big-button {
	padding: 15px 30px;
	background-color: #f15a29;
	border-color: #f15a29;
	margin-top: 25px;
	color: white;
	font-size: 1.1em;
	border-radius: 5px;
	border-style: none;
}

.big-button:hover {
	background-color: #d9400e;
	cursor: pointer;
}

/*-----NAVIGATION-------*/

.top-navigation {
	background-color: white;
	border-bottom: 1px solid grey;

}

.content {
	width:930px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
}

.logo {
	margin-top: 15px;
}

.top-navigation .links {
	float: right;
	margin-top: 30px;
}

.top-navigation .links > li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links > li > a {
	text-decoration: none;
	color: #838994;
}

.top-navigation .links > li > a:hover {
	text-decoration: none;
	color: #333333;
	cursor: pointer;
}
.top-navigation .links .active {
	font-weight: 500;
	color: #4c5058;
}


/*-----ICONS-------*/







/*-----FOOTER-------*/